<div flex-item="6">
    <span class="fs-title display-block mb">Usuarios</span>

    <div class="divider divider--dark"></div>

    <ul class="list mt++">
        <li class="list-row" ng-repeat="trainer in user.users">

            <div class="list-row__content">
                <span class="display-block">{{trainer.name}}</span>
                <span class="display-block fs-body-1 tc-black-2">{{trainer.username}}</span>
            </div>

            <div class="list-row__secondary">
                <lx-icon lx-id="information" lx-size="xs" lx-color="grey" lx-type="flat"></lx-icon>
            </div>
        </li>
    </ul>
</div>
